<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict/>
	<key>frames</key>
	<dict>
		<key>cell_door</key>
		<dict>
			<key>boundingPolygon</key>
			<array/>
			<key>boundsOffsetX</key>
			<real>0.0</real>
			<key>boundsOffsetY</key>
			<real>0.0</real>
			<key>boundsSizeH</key>
			<real>64</real>
			<key>boundsSizeW</key>
			<real>64</real>
			<key>spriteOffsetX</key>
			<real>0.0</real>
			<key>spriteOffsetY</key>
			<real>0.0</real>
			<key>spriteSizeH</key>
			<real>64</real>
			<key>spriteSizeW</key>
			<real>64</real>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cell_wall</key>
		<dict>
			<key>boundingPolygon</key>
			<array/>
			<key>boundsOffsetX</key>
			<real>0.0</real>
			<key>boundsOffsetY</key>
			<real>0.0</real>
			<key>boundsSizeH</key>
			<real>64</real>
			<key>boundsSizeW</key>
			<real>64</real>
			<key>spriteOffsetX</key>
			<real>64</real>
			<key>spriteOffsetY</key>
			<real>0.0</real>
			<key>spriteSizeH</key>
			<real>64</real>
			<key>spriteSizeW</key>
			<real>64</real>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cell_window</key>
		<dict>
			<key>boundingPolygon</key>
			<array/>
			<key>boundsOffsetX</key>
			<real>0.0</real>
			<key>boundsOffsetY</key>
			<real>0.0</real>
			<key>boundsSizeH</key>
			<real>64</real>
			<key>boundsSizeW</key>
			<real>64</real>
			<key>spriteOffsetX</key>
			<real>128</real>
			<key>spriteOffsetY</key>
			<real>0.0</real>
			<key>spriteSizeH</key>
			<real>64</real>
			<key>spriteSizeW</key>
			<real>64</real>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>Atlas</string>
		<key>size</key>
		<string>{256, 64}</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
