<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ViewShader</string>
		<key>attributes</key>
		<dict>
			<key>0</key>
			<string>position</string>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>0</key>
			<string>projectionMatrix</string>
			<key>1</key>
			<string>modelViewMatrix</string>
			<key>2</key>
			<string>colorTint</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>ImageViewShader</string>
		<key>attributes</key>
		<dict>
			<key>0</key>
			<string>position</string>
			<key>1</key>
			<string>textCoord</string>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>0</key>
			<string>projectionMatrix</string>
			<key>1</key>
			<string>modelViewMatrix</string>
			<key>2</key>
			<string>colorTint</string>
		</dict>
	</dict>
</array>
</plist>
